$colour1: lightblue;
$colour2: #5190a5;
$colour3: #73b8cb;

html {
  --antd-wave-shadow-color: $colour2;
}

.ant-modal {
  width: 400px;
}

.ant-modal-content {
  background-color: $colour1;
  border-radius: 20px;
}

.ant-tabs-tab {
  color: white;

  &.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $colour2;
  }
}

.ant-tabs-ink-bar {
  background: $colour2;
}

.ant-btn-primary {
  &:focus {
    background: $colour2;
  }
  background: $colour2;
  border-color: $colour2;
}

.ant-btn {
  border-radius: 7px;

  &:hover, 
  &:focus {
    color: white;
    border-color: $colour3;
  }
}

.ant-modal-footer {
  border-top: none;
}

.ant-form-item-explain {
  &.ant-form-item-explain-error {
    color: $colour2;
  }
}

.ant-notification-notice {
  background-color: $colour3;
  border-radius: 20px;

  &-message {
    color: white;
  }
}