@import "media-queries.scss";
@import "animations.scss";
@import "colours.scss";

.create-gratitude {
  display: flex;
  flex-direction: column;

  &-textarea {
    background: inherit !important;
    border: none !important;
    font-size: 1.5rem !important;
    text-align: center !important;
    color: white !important;
    font-family: Snippet, Sans-Serif, Arial !important;
    margin-top: 20px !important;

    &::placeholder {
      color: white !important;
      font-size: 1.5rem !important;
      text-align: center !important;
      font-family: Snippet, Sans-Serif, Arial !important;
      opacity: 50% !important;
    }
  }

  &-tags {
    float: left;
  }

  &-tag {
    background: inherit !important;
    border: none !important;
    font-size: 16px;
    text-align: left !important;
    color: white !important;
    font-family: Snippet, Sans-Serif, Arial !important;
    width: 150px !important;

    &::placeholder {
      color: white !important;
      font-size: 16px !important;
      text-align: left !important;
      font-family: Snippet, Sans-Serif, Arial !important;
    }
  }

  &-from {
    text-align: right;
    color: $colour3;
    font-size: 20px;
  }

  &-date {
    text-align: right;
    color: $colour2;
    font-size: 20px;
  }

  &-switch-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-action-buttons {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-switch-option {
    color: white;
    opacity: 50%;
    font-size: 16px;
  }

  &-switch {
    padding: 0 10px;
  }

  &-switch-option-active {
    opacity: 100%;
  }

  &-button {
    margin-left: 10px;
  }

  &-button-mobile {
    color: white;
    margin-left: 20px;
    font-size: 30px;

    &-submitting {
      opacity: 0.5;
    }
  }

  &-modal {
    border-radius: 20px;
    min-height: 200px;
    background-color: $colour1;

    box-shadow:
      1px 1px 0px $colour3,
      2px 2px 0px $colour3,
      3px 3px 0px $colour3,
      4px 4px 0px $colour3,
      5px 5px 0px $colour3,
      6px 6px 0px $colour3,
      7px 7px 0px $colour3,
      8px 8px 0px $colour3,
      9px 9px 0px $colour3,
      10px 10px 0px $colour3,
      11px 11px 0px $colour3,
      12px 12px 0px $colour3,
      13px 13px 0px $colour3,
      14px 14px 0px $colour3,
      15px 15px 0px $colour3,
      16px 16px 0px $colour3,
      17px 17px 0px $colour3,
      18px 18px 0px $colour3,
      19px 19px 0px $colour3,
      20px 20px 0px $colour3,
      21px 21px 0px $colour3;
  }

  &-star-icon {
    margin-top: 5px;
    color: $colour3;

    &:hover {
      animation: $bounce;
      -webkit-animation: $bounce; //webkit browsers
      -moz-animation: $bounce; //firefox
      -o-animation: $bounce; //opera
    }

    &-starred {
      margin-top: 5px;
      color: $colour4;
      font-size: 19px;
    }
  }
}

.gratitude-button-mobile {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 2rem;
  font-size: 2rem;
  color: white;
}

@include respond-below(sm) {
  .add-gratitude {
    &-tag {
      width: 80px !important;
    }
  }
}
