@import 'colours.scss';
@import 'media-queries.scss';

.loader {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.empty-data {
  width: 100%;

  &-image {
    font-size: 60px;
  }

  &-text {
    color: $colour1;
  }
}

@include respond-below(sm) {
  .gratitude {
    max-width: 100% !important;
    width: 100%;
    text-align: center;

    &-container {
      min-width: 60px !important;
    }
  }
}

