@import './colours.scss';
@import './media-queries.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $colour2;
}

.headspace {
  background: lightblue;
  position: relative;
  flex: 0 1 auto;

  .avatar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2rem;
    font-size: 2rem;
    color: white;
  }
}

.intention {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  font-family: Snippet, Sans-Serif, Arial;
  line-height: 0.9;
  padding: 1.5rem 0;
}

.time {
  flex: 0 1 auto;
  background-color: $colour3;
  font-family: "Snippet", Sans-Serif;
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.container {
  height: 100%;
  background: #5190a5;
  display: flex;
  flex-direction: row;
  flex-basis: 21%;
  flex-wrap: wrap;
}

.gratitude {
  padding: 2rem;
  max-width: 350px;

  &-container {
    background-color: $colour1;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 100px;

    -webkit-box-shadow: 7px 7px 0px 0px rgba(115,184,203,1);
    -moz-box-shadow: 7px 7px 0px 0px rgba(115,184,203,1);
    box-shadow: 7px 7px 0px 0px rgba(115,184,203,1);
  }

  &-text {
    color: white;
    text-align: center;
  }

  &-from {
    text-align: right;
    color: $colour3;
  }

  &-date {
    text-align: right;
    color: $colour2;
  }

  &-button {
    text-align: center;
    transition: box-shadow transform 0.3s ease-in-out;
    transform: translate(0, 0);

    &-pressed {
      transform: translate(7px, 7px);

      -webkit-box-shadow: 0px 0px 0px 0px rgba(115,184,203,1) !important;
      -moz-box-shadow: 0px 0px 0px 0px rgba(115,184,203,1) !important;
      box-shadow: 0px 0px 0px 0px rgba(115,184,203,1) !important;
    }
  }
}

.new-gratitude {
  display: flex;
  flex-direction: column;

  &-textarea {
    background: inherit !important;
    border: none !important;
    font-size: 1.5rem !important;
    text-align: center !important;
    color: white !important;
    font-family: Snippet, Sans-Serif, Arial !important; 
    margin-top: 20px !important;

    &::placeholder {
      color: white !important;
      font-size: 1.5rem !important;
      text-align: center !important;
      font-family: Snippet, Sans-Serif, Arial !important; 
      opacity: 50% !important;
    }
  }

  &-tags {
    float: left;
  }

  &-tag {
    background: inherit !important;
    border: none !important;
    font-size: 16px;
    text-align: left !important;
    color: white !important;
    font-family: Snippet, Sans-Serif, Arial !important; 
    width: 150px !important;

    &::placeholder {
      color: white !important;
      font-size: 16px !important;
      text-align: left !important;
      font-family: Snippet, Sans-Serif, Arial !important; 
    }
  }

  &-from {
    text-align: right;
    color: $colour3;
    font-size: 20px;
  }

  &-date {
    text-align: right;
    color: $colour2;
    font-size: 20px;
  }

  &-switch-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-action-buttons {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &-switch-option {
    color: white;
    opacity: 50%;
    font-size: 16px;
  }

  &-switch {
    padding: 0 10px;
  }

  &-switch-option-active {
    opacity: 100%;
  }

  &-button {
    margin-left: 10px;
  }

  &-button-mobile {
    color: white;
    margin-left: 20px;
    font-size: 30px;
  }
}

.home-modal {
  background-color: lightblue;
}

.user-modal {
  border-radius: 20px;
  min-height: 50px;
  background-color: lightblue;

  box-shadow: 1px 1px 0px $colour3,
  2px 2px 0px $colour3,
  3px 3px 0px $colour3,
  4px 4px 0px $colour3,
  5px 5px 0px $colour3,
  6px 6px 0px $colour3,
  7px 7px 0px $colour3,
  8px 8px 0px $colour3,
  9px 9px 0px $colour3,
  10px 10px 0px $colour3,
  11px 11px 0px $colour3,
  12px 12px 0px $colour3,
  13px 13px 0px $colour3,
  14px 14px 0px $colour3,
  15px 15px 0px $colour3,
  16px 16px 0px $colour3,
  17px 17px 0px $colour3,
  18px 18px 0px $colour3,
  19px 19px 0px $colour3,
  20px 20px 0px $colour3,
  21px 21px 0px $colour3; 
}

.add-gratitude-modal {
  border-radius: 20px;
  min-height: 200px;
  background-color: lightblue;

  box-shadow: 1px 1px 0px $colour3,
  2px 2px 0px $colour3,
  3px 3px 0px $colour3,
  4px 4px 0px $colour3,
  5px 5px 0px $colour3,
  6px 6px 0px $colour3,
  7px 7px 0px $colour3,
  8px 8px 0px $colour3,
  9px 9px 0px $colour3,
  10px 10px 0px $colour3,
  11px 11px 0px $colour3,
  12px 12px 0px $colour3,
  13px 13px 0px $colour3,
  14px 14px 0px $colour3,
  15px 15px 0px $colour3,
  16px 16px 0px $colour3,
  17px 17px 0px $colour3,
  18px 18px 0px $colour3,
  19px 19px 0px $colour3,
  20px 20px 0px $colour3,
  21px 21px 0px $colour3;
}

.loader {
  text-align: center;
  width: 100%;
}

.empty-data {
  width: 100%;

  &-image {
    font-size: 60px;
  }

  &-text {
    color: $colour1;
  }
}

.main-footer {
  background-color: $colour3;
  display: flex;
  flex-direction: column;

  &-copyright-container {
    text-align: center;
    color: white;
    font-size: 20px;
  }

  &-copyright-text {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 50px;
  }
}

.donate-button {
  display: flex;
  margin-left: 10px;
}

@include respond-below(sm) {
  .gratitude {
    max-width: 100% !important;
    width: 100%;
    text-align: center;

    &-button {
      position: absolute;
      bottom: 0;
    }
  }

  .container {
    flex-direction: column !important;
    overflow-y: scroll;
    flex-basis: inherit !important;
    flex-wrap: unset !important;
  }

  .new-gratitude {
    &-tag {
      width: 80px !important;
    }
  }
}

