.password {
  &-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    .ant-input-affix-wrapper-lg {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      padding: 0 !important;
      margin-right: 1rem !important;
      padding-right: 1rem !important;
      outline: 0 !important;
      border-color: rgba(0, 0, 0, 0) !important;
      max-width: 200px;
    }
  
    input {
      background-color: rgba(0, 0, 0, 0);
      color: white;
    
      &::placeholder {
        color: white !important;
        font-size: 1rem !important;
        font-family: Snippet, Sans-Serif, Arial !important; 
        opacity: .7;
      }
    }
  }
}